@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(217, 54%, 11%);
}

.card {
    padding: 25px;
    box-shadow: 0px 0px 15px 15px hsla(0, 0%, 0%, 0.20);
    border-radius: 15px;
    color: hsl(215, 51%, 70%);
    background-color: hsl(216, 50%, 17%);
    width: 350px;
    text-align: left;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.logo {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.4s;
    margin-bottom: 25px;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 0;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    transition: 0.4s;
}

.logo:hover .overlay {
    background-color: hsla(178, 100%, 50%, 0.37);
    z-index: 100;

}

.logo-img {
    z-index: 50;
    border-radius: 10px;
    height: 300px;
    width: 300px;
    transition: 0.4s;
}

.title {
    font-size: 20px;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    margin-bottom: 25px;
    transition: 0.4s;

}

.title:hover {
    color: hsl(178, 100%, 50%);
}

.text {
    margin-bottom: 25px;
}

.description {
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
}

.eth-img {
    margin-bottom: -3.7px;
    margin-right: 4px;
    width: 10px;

}

.eth {
    color: hsl(178, 100%, 50%);
}

.daysleft-img {
    margin-bottom: -3.7px;
    margin-right: 4px;
    width: 17px;
}

.line {
    background-color: hsl(215, 32%, 27%);
    border: none;
    height: 2px;
    width: 100%;
    margin-bottom: 20px;
}

.profile {
    display: flex;
    letter-spacing: 0.5px;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
}

.profilepic {
    justify-content: center;
    align-items: center;
    padding: 1px;
    display: flex;
    border-radius: 50%;
    background-color: white;
}

.profile-img {
    width: 30px;
}

.creation {
    margin-left: 17px;
    margin-top: 7px;
}

.name {
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: 0.4s;

}

.name:hover {
    color: hsl(178, 100%, 50%);
}

